<div nz-row style="margin-bottom: 15px;">
  <div nz-col [nzSpan]="8">
    <nz-input [nzPlaceHolder]="'请输入菜单/按钮名称'"></nz-input>
  </div>
</div>
<div nz-row style="margin-bottom: 15px;">
  <button nz-button [nzType]="'primary'" style="float: left;margin-right: 10px;" (click)="handleSearch()">
    <span>查询</span>
  </button>
  <button nz-button [nzType]="'default'" style="float: left;" (click)="handleReset()">
    <span>重置</span>
  </button>
  <button nz-button [nzType]="'primary'" style="float: right;" (click)="handleCreate()">
    <i class="anticon anticon-save"></i><span>新增</span>
  </button>
</div>

<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
  <thead nz-thead>
  <tr>
    <th nz-th [nzWidth]="'20%'"><span>功能名称</span></th>
    <th nz-th [nzWidth]="'20%'"><span>功能类型</span></th>
    <th nz-th [nzWidth]="'20%'"><span>父级功能名称</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data">
    <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
      <tr nz-tbody-tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
        <td nz-td>
          <nz-row-indent [nzIndentSize]="item.level"></nz-row-indent>
          <nz-row-expand-icon [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)" [nzShowExpand]="!item.children"></nz-row-expand-icon>
          {{item.name}}
        </td>
        <td nz-td>{{item.type === 'menu' ? '菜单' : '按钮'}}</td>
        <td nz-td>{{item.parentName}}</td>
        <td nz-td>
          <button nz-button (click)="handleEdit()">
            <i class="anticon anticon-edit"></i><span>编辑</span>
          </button>
          <button nz-button (click)="handleDelete()">
            <i class="anticon anticon-delete"></i><span>删除</span>
          </button>
        </td>
      </tr>
    </ng-template>
  </ng-template>
  </tbody>
</nz-table>
