:host .logo {
  height: 22px;
  margin: 30px 15px;
}

:host .logo img {
  width: 40px;
  margin-right: 8px;
}

:host .logo span {
  color:lightgrey;
  vertical-align: text-bottom;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 40px;
}

:host .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:host .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host .trigger:hover {
  color: #108ee9;
}

