<div nz-row style="margin-bottom: 15px;">
  <div nz-col [nzSpan]="8">
    <nz-input [nzPlaceHolder]="'请输入角色名称'"></nz-input>
  </div>
</div>
<div nz-row style="margin-bottom: 15px;">
  <button nz-button [nzType]="'primary'" style="float: left;margin-right: 10px;" (click)="handleSearch()">
    <span>查询</span>
  </button>
  <button nz-button [nzType]="'default'" style="float: left;" (click)="handleReset()">
    <span>重置</span>
  </button>
  <button nz-button [nzType]="'primary'" style="float: right;" (click)="handleCreate()">
    <i class="anticon anticon-save"></i><span>新增</span>
  </button>
</div>

<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
  <thead nz-thead>
  <tr>
    <th nz-th [nzWidth]="'35%'"><span>用户名称</span></th>
    <th nz-th [nzWidth]="'35%'"><span>描述</span></th>
    <th nz-th><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>
      <a>{{data.name}}</a>
    </td>
    <td nz-td>{{data.desc}}</td>
    <td nz-td>
      <button nz-button (click)="handleEdit()">
        <i class="anticon anticon-edit"></i><span>编辑</span>
      </button>
      <button nz-button (click)="handleDelete()">
        <i class="anticon anticon-delete"></i><span>删除</span>
      </button>
      <button nz-button (click)="handleFuncSetting()">
        <i class="anticon anticon-role"></i><span>菜单配置</span>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

