<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <!--log图片-->
    <div class="logo">
      <img src={{menuLogo}} alt="logo">
      <span *ngIf="!isCollapsed">{{menuTitle}}</span>
    </div>
    <!--菜单内容-->
    <ul *ngIf="menuTree.length > 0" nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <div *ngFor="let menu of menuTree">
        <li nz-menu-item *ngIf="!menu.children" (click)="handleClickMenuItem($event)">
          <span>
            <i class="anticon anticon-{{menu.icon}}"></i>
            <span class="nav-text" routerLink="{{menu.router}}">{{menu.name}}</span>
          </span>
        </li>
        <li nz-submenu *ngIf="menu.children">
          <span title>
            <i class="anticon anticon-{{menu.icon}}"></i>
            <span class="nav-text">{{menu.name}}</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="{{childmenu.router}}" (click)="handleClickMenuItem($event)" *ngFor="let childmenu of menu.children">
              <i class="anticon anticon-{{childmenu.icon}}"></i>{{childmenu.name}}
            </li>
          </ul>
        </li>
      </div>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header class="nz-header">
      <!--控制菜单导航条抽拉效果的小图标-->
      <i style="line-height: 47px;" class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <!--顶部下拉菜单：注销，修改密码等功能-->
      <nz-dropdown nzPlacement="bottomRight" class="nz-dropdown">
        <a class="ant-dropdown-link" nz-dropdown>
          <i class="anticon anticon-user"></i>&nbsp;&nbsp;<span>dkvirus</span>
        </a>
        <ul nz-menu>
          <li nz-menu-item>
            <a (click)="handleUpdatePw()">修改密码</a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item>
            <a (click)="handleSignOut()">注销</a>
          </li>
        </ul>
      </nz-dropdown>
      <!--主动提醒功能，小邮箱图标-->
      <div class="mail">
        <i class="anticon anticon-mail"></i>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <!--面包屑-->
      <nz-breadcrumb style="margin:12px 0;" *ngIf="breadcrumb">
        <nz-breadcrumb-item *ngFor="let crumb of breadcrumb">{{crumb}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <!--主体内容-->
      <div style="padding:24px; background: #fff; min-height: 550px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!--底部log-->
    <nz-footer style="text-align: center;">{{footTitle}}</nz-footer>
  </nz-layout>
</nz-layout>



